{% extends "base.html" %}
{% block page_title %}Login{% endblock %}
{% block content %}

<style>
        .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1:hover {
        background-color: white;
        color: black;
        border: 2px solid #555555;
    }

    .button1 {
        background-color: #555555;
        color: white;
    }
    </style>

<h1 class="mt-5">Account Administration Portal</h1>

<!-- TODO: Implement the user account search -->
<div>
    <h3>Account Search</h3>
    <p>Search for an existing user</p>
    <!-- TODO: Implement the user search form-->
    <h3>Search</h3>
    <form action="{{ url_for( 'basic.admin' )}}" method="get">
        <input type="text" name="search"></input>
        <button type="submit" class="btn">Search</button>
    </form>
</div>

<!--
TODO: Implement the user results table for their credentials
The table will allow a logged in administrator the ability
to edit and update the credentials of any given KomradeBank account.
-->
<div>
    <h3>Searched Account Credentials</h3>
    {% if user %}
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Current Funds</th>
        </thead>
        <!-- IMPLEMENT ME -->
        <tbody>
            <tr>
                <td>{{userinfo[1]}}</td>
                <td>{{userinfo[2]}}</td>
                <td>{{userinfo[3]}}</td>
                <td>{{userinfo[4]}}</td>
                <td>{{userinfo[5]}}</td>
            </tr>
        </tbody>
    </table>

    <h3>Edit credentials for {{ user }} </h3>
    <h3>{{ admin }}</h3>
    {% if admin %}
    <form action="{{ url_for( 'basic.admin', search = user )}}" method="post">
            <input type="hidden" name="username" value="{{ user }}">
            Name: <input type="text" name="name" value="{{ Name }}"><br>
            Address: <input type="text" name="address" value="{{ Address }}"><br>
            Email: <input type="text" name="email" value="{{ Email }}"><br>
            Phone Number: <input type="text" name="phonenum" value="{{ PhoneNum }}"><br>
            Funds: <input type="text" name="funds" value="{{ Funds }}"><br>
            <button class="button button1" type="submit">Submit</button>
        </form>
    {% endif %}

    {% if message %}
        {{ message }}
    {% endif %}

    {% else %}
    <p>Search for a user to edit their credentials</p>
    {% endif %}
</div>
{% endblock %}
